<div class="container">
  <div class="row">

    <div class="col-md-offset-1 col-md-10">
      <h1 class="page-header">店家列表</h1>
      <% @shops.each do |shop| %>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= shop.name %></h3>
            </div>
            <div class="panel-body">
              <%= image_tag(shop.menu) %>
            </div>
            <div class="panel-footer">
              <%= form_for :shop, url: shop_path(shop), method: :patch do |f| %>
                <%= f.filestack_field :menu, '選擇菜單照片',
                  pickerOptions: {
                    accept: 'image/*',
                    fromSources: ['local_file_system', 'url'],
                    maxFiles: 1,
                    maxSize: 10240000
                  } %>
                <%= f.submit '記得按送出' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
