<h1><%= @shop.name %></h1>
<p>build date: <%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
<p><%= link_to 'delete', order_path, method: :delete %></p>
<%= image_tag(@shop.menu) %>
<%= form_for :shop, url: shop_path(@shop), method: :patch do |f| %>
  <%= f.file_field :menu, mutiple: true %>
  <%= f.submit '增加菜單' %>
<% end %>
<br>
<hr>

<table>
  <tbody>
    <tr>
      <th>名字</th>
      <th>飲料</th>
      <th>價錢</th>
      <td>糖</td>
      <td>冰</td>
      <th>數量</th>
      <th>動作</th>
    </tr>
    <tr>
      <%= form_for :drink, url: shop_drinks_path(@shop) do |f| %>
        <td></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.number_field :price, min: 1 %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= f.submit '新增飲料' %></td>
      <% end %>
    </tr>
    <tr>
      <%= form_for :drink, url: shop_drink_path(@shop), method: :delete do |f| %>
        <td></td>
        <td><%= f.select :drink_id, @shop.drinks.collect {|d| [d.name, d.id]} %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= f.submit '刪除飲料' %></td>
      <% end %>
    </tr>
    <tr>
      <%= form_for :entry, url: order_entries_path(@order) do |f| %>
        <td><%= f.text_field :custumer %></td>
        <td><%= f.select :drink_id, @shop.drinks.collect {|d| [d.name, d.id]}, {}, {id: "drink_id", onchange: "display_info();"} %></td>
        <td id="price"></td>
        <td><%= f.select :sugar, ["正常甜", "少糖", "半糖", "微糖", "無糖"] %></td>
        <td><%= f.select :ice, ["正常冰", "少冰", "半冰", "微冰", "去冰", "熱"] %></td>
        <td><%= f.number_field :quantity, value: 1, min: 1 %></td>
        <td><%= f.submit '訂飲料' %></td>
      <% end %>
    </tr>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.custumer %></td>
        <td><%= entry.drink.name %></td>
        <td><%= entry.drink.price %></td>
        <td><%= entry.sugar %></td>
        <td><%= entry.ice %></td>
        <td><%= entry.quantity %></td>
        <td><%= link_to '刪除', entry_path(entry), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  get_drinks_info(<%= @shop.id %>);
<% end %>
