<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1><%= @shop.name %></h1>
      <p>訂單建立日期 : <%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <p><%= link_to '刪除訂單', order_path, method: :delete, class: "btn btn-danger" %></p>
    </div>
    <div class="col-md-9">
      <%= image_tag(@shop.menu) %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<hr>

<% if @shop.custom %>
  <div id="edit" class="container">
    <div class="row">

      <div class="col-md-3">
        <%= form_for :shop, url: shop_path(@shop), method: :patch do |f| %>
          <%= f.filestack_field :menu, '選擇菜單照片',
            pickerOptions: {
              accept: 'image/*',
              fromSources: ['local_file_system', 'url'],
              maxFiles: 1,
              maxSize: 10240000,
              transformations: {
                crop: true
              }
            } %>
          <%= f.submit '記得按送出' %>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form_for :drink, url: shop_drinks_path(@shop), html: {class: "form-inline"} do |f| %>
          <div class="form-group">
            <%= f.label 'name', '飲料:' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label 'price', '價格:' %>
            <%= f.number_field :price, min: 1, class: "form-control" %>
          </div>
          <%= f.submit '新增飲料', class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="col-md-3 form-inline">
        <%= select_tag :delete_drink_select, options_from_collection_for_select(@shop.drinks, :id, :name), class: "form-control" %>
        <%= link_to '刪除飲料', "drinks/", method: :delete, id: "delete_drink_btn", class: "btn btn-danger" %>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <hr>
<% end %>

<div class="container">
  <div class="row">

    <ul class="entry">
      <li>名字</li>
      <li>飲料</li>
      <li>價錢</li>
      <li>糖</li>
      <li>冰</li>
      <li>數量</li>
    </ul>

    <%= form_for :entry, url: order_entries_path(@order), html: {class: "form-inline entry"} do |f| %>
      <%= f.text_field :custumer, class: "form-control" %>
      <%= f.select :drink_id, @shop.drinks.collect {|d| [d.name, d.id]}, {}, {id: "drink_id", onchange: "display_price();", class: "form-control"} %>
      <%= f.label :price, id: "price" %>
      <%= f.select :sugar, ["正常甜", "少糖", "半糖", "微糖", "無糖"], {}, class: "form-control" %>
      <%= f.select :ice, ["正常冰", "少冰", "半冰", "微冰", "去冰", "熱"], {}, class: "form-control" %>
      <%= f.number_field :quantity, value: 1, min: 1, max: 10000, class: "form-control" %>
      <%= f.submit '訂飲料', class: "btn btn-primary" %>
    <% end %>

    <% @entries.each do |entry| %>
      <ul class="entry">
        <li><%= entry.custumer %></li>
        <li><%= entry.drink.name %></li>
        <li><%= entry.drink.price %></li>
        <li><%= entry.sugar %></li>
        <li><%= entry.ice %></li>
        <li><%= entry.quantity %></li>
        <li onclick="update_entry(event, <%= entry.id %>)", class="btn btn-warning">修改</li>
        <%= link_to '刪除', "entries/#{entry.id}", method: :delete, class: "btn btn-danger" %>
      </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>統計：</h1>
      <div id="conclusion">
      </div>
    </div>
  </div>
</div>
