<!DOCTYPE html>
<html>
  <head>
    <title>Dindrink</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", 'data-turbolinks-track': 'reload' %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div class="container-fluid">

        <div class="navbar-header">
          <%= link_to 'DinDrink', root_path, class: "navbar-brand" %>
        </div>

        <% if @shops %>
          <div class="collapse navbar-collapse">
            <%= form_tag root_path, method: :get, class: "navbar-form navbar-left" do %>
              <%= text_field_tag :search, params[:search], placeholder: '店家名稱' %>
              <%= submit_tag '搜尋', name: nil %>
            <% end %>
            <%= form_for :shop, url: shops_path, method: :post, html: {class: "navbar-form navbar-left"} do |f| %>
              <%= f.text_field :name, placeholder: '新增店家' %>
              <%= f.submit '新增' %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
